<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image"></div>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="navegarATab('tab2')">
          <ion-card-header>
            <ion-card-title>Teoría</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="navegarATab('tab3')">
          <ion-card-header>
            <ion-card-title>Taller</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="navegarATab('tab6')">
          <ion-card-header>
            <ion-card-title>Examen T</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="navegarATab('tab4')">
          <ion-card-header>
            <ion-card-title>Práctica</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="navegarATab('tab7')">
          <ion-card-header>
            <ion-card-title>Examen P</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="navegarATab('tab5')">
          <ion-card-header>
            <ion-card-title>Clases Agendadas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
